/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
/resources/*
!/resources/js/
!/resources/lang/
/resources/lang/*
!resources/lang/ja
!/resources/lang/en
!/resources/sass
!/resources/views
/public/*
!/public/css
!/public/js
!/public/storage
